#profile{
   background-color:#E3FDFD;
   }
   .profile-img {
      height:100px;
      border-radius:50%;
   }
   #about{
      background-color: #CBF1F5;
   }
   #end{
      background-color: #71C9CE;
   }
   #middle{
      background-color:#A6E3E9;
   }